Repository cloudalchemy/ansible-cortex, pull requests merged in 2020-09, with the labels that each got.

#1 Update .ansible-lint
  .ansible-lint
Labels: area/tests

#3 Initial Cortex role
  LICENSE
  README.md
  defaults/main.yml
  handlers/main.yml
  meta/main.yml
  molecule/alternative/playbook.yml
  molecule/alternative/tests/test_alternative.py
  molecule/default/playbook.yml
  molecule/default/tests/test_default.py
  tasks/configure.yml
  tasks/install.yml
  tasks/main.yml
  tasks/preflight.yml
  templates/cortex.service.j2
  templates/cortex.yml.j2
  vars/main.yml
Labels: area/docs, area/jinja, area/tasks, area/tests, area/vars

#4 Fixed directory variables
  defaults/main.yml
Labels: area/vars
