Repository cloudalchemy/ansible-cortex, pull requests merged in 2021-01, with the labels that each got.

#12 Updated Cortex version
  README.md
  defaults/main.yml
Labels: area/docs, area/vars

#10 Tune Number of File Descriptors
  README.md
  defaults/main.yml
  templates/cortex.service.j2
  templates/cortex@.service.j2
Labels: area/docs, area/jinja, area/vars

#13 Added environment variables support
  .circleci/config.yml
  README.md
  defaults/main.yml
  molecule/alternative/playbook.yml
  molecule/alternative/tests/test_alternative.py
  molecule/services/molecule.yml
  molecule/services/playbook.yml
  molecule/services/tests/test_services.py
  tasks/configure.yml
  tasks/preflight.yml
  templates/cortex.environment.j2
  templates/cortex.service.j2
  templates/cortex@.environment.j2
  templates/cortex@.service.j2
Labels: area/docs, area/jinja, area/tasks, area/tests, area/vars

#14 Empty unset service environment files
  molecule/services/playbook.yml
  molecule/services/tests/test_services.py
  tasks/configure.yml
  templates/cortex.service.j2
  templates/cortex@.service.j2
Labels: area/jinja, area/tasks, area/tests
